<div class="block p-2">
    <input type="text" [formControl]="searchControl"
        placeholder="Search movie (title, description, year, director, genre)..."
        class="w-full p-2 border rounded mb-4" />
    @if(!loading() && movies().length > 0){
    <div class="overflow-auto">
        <div class="flex flex-col">
            <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
                class="max-w-full border border-gray-300 min-h-[60px] flex bg-white rounded overflow-hidden">
                @for (header of headers; track $index; let i = $index) {
                <div cdkDrag
                    class="flex-1 py-5 px-2.5 border-r border-gray-300 last:border-0 text-gray-900 flex items-center justify-between cursor-move bg-white text-sm">
                    <span>{{ header.label }}</span>
                </div>
                }
            </div>
            @for (item of movies(); track item.imdbID) {
            <div class="flex border-b">
                @for (header of headers; track header.label) {
                <div class="flex-1 p-2">
                    <ng-container [ngSwitch]="header.field">
                        <div *ngSwitchCase="'Poster'">
                            @if(item.Poster !== 'N/A'){
                            <img [src]="item.Poster" alt="Poster" class="w-12 h-auto" />
                            } @else {
                            <!-- TODO: icon for missing poster -->
                            }
                        </div>
                        <span *ngSwitchCase="'Title'">{{ item.Title }}</span>
                        <span *ngSwitchCase="'Year'">{{ item.Year }}</span>
                    </ng-container>
                </div>
                }
            </div>
            }
        </div>
        <mat-paginator [length]="totalResults()" [pageSize]="10" [pageIndex]="pageIndex()"
            (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
    }
    @if(loading()){
    <mat-spinner></mat-spinner>
    }

    @if(!loading() && movies().length === 0){
    <p>No results</p>
    }
</div>